@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(181, 235, 161);
}

#header {
    background-color: rgb(126, 210, 96);
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1 {
    color: rgb(31, 78, 14);
    font-family: "Crimson Text", serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.left_box {
    width: 300px;
    height: 200px;
    background-color: rgb(251, 251, 251);
    border:5px solid rgb(31, 48, 14);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.left_box .top input,
.right_box .top input {
    width: 160px;                
    height: 50px;              
    padding: 5px 10px;         
    font-size: 16px;            
    color: rgb(31, 48, 14);    
    border: 2px solid rgb(116, 116, 116); 
    border-radius: 13px;        
    background-color: rgb(251, 251, 251); 
    box-sizing: border-box;   
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: lighter;
}

.left_box .bottom input,
.right_box .bottom input {
    width: 235px;
    height: 70px;
    background-color: rgb(228, 228, 228);
    border: none;
    border-bottom: 3px solid rgb(116, 116, 116);
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;

}

#block img {
    width: 50px;
    height: 50px;
}

.right_box {
    width: 300px;
    height: 200px;
    background-color: rgb(251, 251, 251);
    border:5px solid rgb(31, 48, 14);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

#frames {
    width: 100%;
    background-color: rgb(181, 235, 161);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px; 
}

#convert_btn {
    height: 55px;
    width: 210px;
    background-color: rgb(126, 210, 96);
    border: 3px solid rgb(31, 48, 14);
    border-radius: 10px;
    font-family: "Crimson Text", serif;
    font-size: 26px;
    font-weight: bold;
    color: rgb(31, 78, 14);
    text-align: center;
}

#convert_btn:hover {
    cursor: pointer;
    background-color: rgb(140, 225, 105);
}

#convert_btn {
    transition: 0.1s ease; 
}

#convert_btn:active {
    transform: scale(0.95);         
    background-color: rgb(110, 190, 85); 
}

#block {
    width: 100%;
    height: 550px;
    background-color: rgb(181, 235, 161);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

#error_box {
    max-width: 300px;
    min-height: 40px; 
    background-color: rgb(255,230,230);
    border: 2px solid rgb(201, 38, 54);
    border-radius: 5px;
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: rgb(211, 47, 47);
    padding: 5px 10px; 
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
}

#error_box.show {
    opacity: 1;
}